name: Build Docker Images
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 3"
  push:
    branches:
      - main
jobs:
  push:
    name: "inf-backup"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/dhw-pcs/inf-backup:latest
            ghcr.io/dhw-pcs/inf-backup:${{ github.sha }}
